# core cmake
/cmake/ @ledettwy @nrspruit
/CMakeLists.txt @ledettwy @nrspruit

# coding standards
/.clang-format @nrspruit @ledettwy
/.clang-tidy @nrspruit @ledettwy
/clang-format-patch.sh @nrspruit @ledettwy

# build/run automation
/docker/ @ledettwy @jchodor
/.gitlab-ci.yml @ledettwy @jchodor
/ci-build-linux.sh @ledettwy @jchodor
/ci-build-windows.bat @ledettwy @jchodor
/ci-run.py @ledettwy @jchodor
/test_config.yml @ledettwy @jchodor

# test code
conformance_tests/ @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger
conformance_tests/core/ @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger
conformance_tests/tools/ @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger @macabral @mraghuwa @tvilvara @jitendra @kondasai @guptasa2 @jacekjan
conformance_tests/tools/sysman/ @wjordan @macabral @mraghuwa @tvilvara @jitendra @kondasai @guptasa2 @jacekjan @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger
conformance_tests/tools/test_api_tracing/ @davidoli @macabral @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger
perf_tests/ @rwmcguir @sanchez1 @jarteaga
utils/ @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger
